<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.sanyang.test"></context:component-scan>
	<!-- 配置拦截器 mvc:interceptors 配置拦截器集合 mvc:interceptor配置一个拦截器 mvc:mapping指定拦截器要拦截的请求/**代表拦截所有 
		bean指定自定义的拦截器类 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/" />
			<bean class="com.sanyang.util.InvInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
<!-- 配置一个异常处理器 
    defaultErrorView:出现异常后要跳转到的页面
      此处配置，代表出现异常了要跳转到exception.jsp
      exceptionAttribute 为异常信息取一个别名
      此处设定为ex ，则一旦出现异常会通过request.setAttribute("ex","异常")的方式保存异常信息
      
    -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="defaultErrorView" value="exception"></property>
    <property name="exceptionAttribute" value="ex"></property>
    </bean>
	<bean id="viewresolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>